[submodule "todo-app"]
	path = todo-app
	url = https://github.com/lidaixingchen/todo-app
[submodule "markdown-notes"]
	path = markdown-notes
	url = https://github.com/lidaixingchen/markdown-notes.git
